body {
  font-family: 'Montserrat';
  font-weight: 300;
}

div.header {
  display:table;
  table-layout: fixed;
  width: 100%;
}

div.header span {
  display:table-cell;
  text-align:center;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}

.titleimg {
    object-fit: cover;
    width: 100%;
}
  
canvas {
	background: black;
  display: block;
  margin: 0 auto;
}
  
body::-webkit-scrollbar {
	display: none;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
