body {
  font-family: 'Montserrat';
  font-weight: 300;
}

.header {
  display: table;
  table-layout: fixed;
  background: black;
  color: white;
  width: 100%;
}

.header span {
  display:table-cell;
  text-align:center;
}

.content {
  padding: 20px;
}
